{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h1 class="left-top-text">Connect.ai</h1>
            <h1 class="left-center-text">
                <span id="dynamic-text">Help Me</span>              
                <div id="additional-text"></div>
            </h1>
        </div>
        <div class="right-side">
            <div class="mobile-heading">Connect.ai</div>
            <h1 class="get-started-heading"><u style="text-decoration-color: #0056b3;">Let's Connect.</u></h1>
            <div class="button-container">
                <a href="/login"><button class="login-button">Login</button></a>
                <a href="/signup"><button class="signup-button">Sign Up</button></a>
            </div>
            <div class="footer">
                <p>© 2023 Connect.ai</p>
                <p><a href="https://policies.google.com/terms?hl=en" target="_blank">Terms of Use</a> | <a href="https://policies.google.com/privacy?hl=en" target="_blank">Privacy Policy</a></p>
            </div>
        </div>
    </div>
    
    
    <script src="{% static 'js/animation.js' %}"></script>
</body>
</html>
